.form{
    background-color: none;
    display: block;
    height: 8vh;
    padding: 12px 16px;
    position: relative;
}

.form__input--wrap{
    position: relative;
    width: 95%;
}

.form__input::placeholder{
    background: none;
    background-color: none;
    color: rgb(92, 92, 92);
}

.form__input{
    color: whitesmoke;
    border-bottom: none !important;
    height: 100% !important;
    font-size: 4rem !important;
    font-weight: 100;
}

.form input:focus + label {
    color: rgb(29, 29, 29) !important;
}
/* label underline focus color */
.form input:focus {
    border-bottom: 1px solid #5c6bc0 !important;
    box-shadow: 0 1px 0 0 rgb(29, 29, 29) !important
}

.form__btn{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-2%, -50%);
    -webkit-transform: translate(-2%, -50%);
    -moz-transform: translate(-2%, -50%);
    -ms-transform: translate(-2%, -50%);
    -o-transform: translate(-2%, -50%);
}

// * media queries
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) and (orientation: landscape) {
    .form{
        height: 13vh;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .form{
        height: 12vh;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
    .form{
        height: 10vh;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}