.form{
    background-color: none;
    display: block;
    height: 8vh;
    padding: 12px 16px;
    position: relative;
}

.form__input--wrap{
    position: relative;
    width: 95%;
}

.form__input{
    background: none;
    border: none;
    color: whitesmoke;
    font-size: 3rem !important;
    margin-top: 1%;
    width: 100%;
}

.form__input::placeholder{
    background: none;
    background-color: none;
    color: rgb(92, 92, 92);
}

.form__input{
    color: whitesmoke;
    border-bottom: none !important;
    height: 100% !important;
    font-size: 4rem !important;
    font-weight: 100;
}

.form input:focus + label {
    color: rgb(29, 29, 29) !important;
}
/* label underline focus color */
.form input:focus {
    border-bottom: 1px solid #5c6bc0 !important;
    box-shadow: 0 1px 0 0 rgb(29, 29, 29) !important
}

.form__btn{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-2%, -50%);
    -webkit-transform: translate(-2%, -50%);
    -moz-transform: translate(-2%, -50%);
    -ms-transform: translate(-2%, -50%);
    -o-transform: translate(-2%, -50%);
}