// loginPage header
.loginPage__header{
    align-items: center;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: row;
    height: 8vh;
    justify-content: space-between;
    padding: 12px 16px;
}

.loginPage__header--title{
    color: whitesmoke;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

// login page
.loginPage{
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    display: flex;
    height: 82vh;
    justify-content: center;
    flex-direction: row;
}

.loginPage__img--wrap{
    align-items: center;
    display: flex;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 65%;
}



.loginPage__img{
    height: 100%;
    width: 100%;
}

.loginPage__title{
    color: whitesmoke;
}

.loginPage__form--wrap{
    align-items: center;
    background-color: rgba(82, 82, 82, 0.95);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    width: 45%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.loginPage__form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.loginPage__form--input::placeholder{
    background: none;
    background-color: none;
    color: rgb(128, 128, 128);
}

.loginPage__input--one{
    margin-bottom: 20px;
}

.loginPage__form--input{
    width: 100%;
}

.loginPage__form--input{
    color: whitesmoke;
    // border-bottom: none !important;
    height: 100% !important;
    font-size: 3rem !important;
    font-weight: 100;
}

.loginPage__form input:focus + label {
    color: rgb(29, 29, 29) !important;
}
/* label underline focus color */
.loginPage__form input:focus {
    border-bottom: 1px solid #5c6bc0 !important;
    box-shadow: 0 1px 0 0 rgb(29, 29, 29) !important
}


// form buttons
.loginPage__btn--wrap{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.loginPage__btn--text{
    color: whitesmoke;
    margin-left: 10px;
}

.loginPage__btn--text:hover{
    color: rgb(211, 211, 211);
    cursor: pointer;
}

.loginPage__form--login--btn{
    background-color: #5c6bc0;
}

.loginPage__form--login--btn:hover{
    background-color: #3f51b5;
}

// * media queries
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 374.98px) and (orientation: portrait) {
    .loginPage__header{
        height: 12vh;
    }

    .loginPage__header--title{
        font-size: 1.6rem;
        color: whitesmoke;
    }

    .loginPage__title{
        font-size: 3rem;
        color: whitesmoke;
    }

    .loginPage{
        height: 100vh;
    }

    .loginPage__form--wrap{
        height: 65%;
        width: 85%;
    }
}

@media (min-width: 375px) and (max-width: 413.98px) and (orientation: portrait) {
    .loginPage__header{
        height: 12vh;
    }

    .loginPage__header--title{
        font-size: 2.2rem;
        color: whitesmoke;
    }

    .loginPage__title{
        font-size: 3rem;
        color: whitesmoke;
    }

    .loginPage{
        height: 100vh;
    }

    .loginPage__form--wrap{
        height: 65%;
        width: 85%;
    }
}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {
    .loginPage__header{
        height: 12vh;
    }

    .loginPage__title{
        font-size: 3rem;
        color: whitesmoke;
    }

    .loginPage{
        height: 100vh;
    }

    .loginPage__form--wrap{
        height: 65%;
        width: 85%;
    }
}

@media (max-width: 575.98px) and (orientation: landscape){
    .loginPage__header{
        height: 15vh;
    }

    .loginPage__title{
        font-size: 3rem;
        color: whitesmoke;
    }

    .loginPage{
        height: 100vh;
    }

    .loginPage__form--wrap{
        height: 85%;
        width: 65%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .loginPage__header{
        height: 12vh;
    }

    .loginPage__title{
        font-size: 3rem;
        color: whitesmoke;
    }

    .loginPage{
        height: 85vh;
    }

    .loginPage__form--wrap{
        height: 85%;
        width: 65%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .loginPage__header{
        height: 12vh;
    }

    .loginPage{
        height: 85vh;
    }

    .loginPage__form--wrap{
        height: 85%;
        width: 65%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
