.pageNotFound{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 92vh;
    justify-content: flex-start;

    &__title{
        color: whitesmoke;
        font-size: 20rem !important;
        margin-top: 100px;
    }

    &__text{
        color: whitesmoke;
        font-size: 2rem !important;
    }
}