.searchbar{
    background-color: #1f1f1f;
    height: 10vh;
}

.searchbar__form{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 12px 16px;
    height: 100%;
    width: 100%;
}

.searchbar__form--input::placeholder{
    background: none;
    background-color: none;
    color: rgb(92, 92, 92);
}

.searchbar__form--input{
    color: whitesmoke;
    border-bottom: none !important;
    height: 100% !important;
    font-size: 4rem !important;
    font-weight: 100;
}

.searchbar__form input:focus + label {
    color: rgb(29, 29, 29) !important;
}
/* label underline focus color */
.searchbar__form input:focus {
    border-bottom: 1px solid #5c6bc0 !important;
    box-shadow: 0 1px 0 0 rgb(29, 29, 29) !important
}

// * media queries
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 413.98px) and (orientation: portrait) {

}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {

}
// Extra small devices (landscape phones, less than 576px)
@media (max-width: 575.98px) and (orientation: landscape) {
    .searchbar{
        height: 16vh;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .searchbar{
        height: 14.5vh;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
    .searchbar{
        height: 13vh;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}